Recuperando senha

Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se não foi você que solicitou essa alteração, recomendo que troque sua senha para garantir.

Para continuar com a recuperação de senha, clique no link abaixo.

Criar nova senha -> {{ link }}

Porque nós acreditamos na família.

Mensagem automática

Universidade da Família
