O relatório da {{ lesson_title }} do {{ event_type }} {{ event_name }} foi enviado.

ID do evento: {{ event_id }}
Nome líder: {{ organizator_name }}
CPF líder: {{ organizator_cpf }}
Testemunho: {{ testimony }}
Dúvidas: {{ doubts }}
Data do envio: {{ send_date }}

Acesse o portal para visualizar o {{ event_type }}.

Universidade da Família
Portal de Líderes
