Olá {{ name }}, tudo bem com você?!

O pagamento de seu pedido número {{ id }} foi confirmado hoje {{ update_at }} e será enviado em breve, conforme prazo informado no momento da compra.

Assim que o pedido for postado enviaremos um e-mail avisando.

Agradecemos sua compra.

Sempre que entrar em contato conosco. Utilize este código para identificar seu pedido.

E-mail: pedidos@udf.org.br
Telefone: (14) 3405-8500 ou (14) 9 8219-0179

Universidade da Família
Portal de Líderes
